frontend/node_modules
backend/node_modules
backend/package-lock.json
frontend/package-lock.json
frontend/.env
backend/.env
backend/insuredsaathi-29f2f-firebase-adminsdk-fbsvc-e3cb6cb152.json
pythonApi/training
pythonApi/venv
pythonApi/.env
pythonApi/model_features.json
pythonApi/life_insurance_fraud_model.pkl
backend/uploads/*